apiVersion: v1
kind: Service
metadata:
  name: flask-app-service
  labels:
    app: flask-app
spec:
  type: LoadBalancer
  selector:
    app: ivolve-project
  ports:
    - protocol: TCP
      port: 80
      targetPort: 5000
      name: http
